# Data Structure & Pythonic Code
## 자료구조 개요 (Data Structure)
### 튜플 (tuple)
값의 변경이 불가능한 리스트 <br>
선언 시 “\[ \]”가 아닌 “\( \)”를 사용 <br>
리스트의 연산, 인덱싱, 슬라이싱 등을 동일하게 사용 <br>

왜 쓸까? <br>
프로그램을 작동하는 동안 변경되지 않아야할 데이터를 저장 <br>
Ex) 학번, 이름, 우편번호 등등

In [2]:
t = (1,2,3)
print(t + t, t*2)
len(t)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

3

In [3]:
# 코드 오류가 나는 이유는 tuple이 immutable type이라 값이 변하지 않기 때문입니다.
t[1] = 5

TypeError: 'tuple' object does not support item assignment

In [5]:
# 튜플에 값을 하나만 넣는 경우
t = (1)
print(type(t), t) # tuple이 아닌 정수로 인식

# 값이 하나인 튜플을 만들고 싶은 경우
t = (1,) # 값이 하나인 tuple은 반드시 ','을 붙여야함
print(type(t), t) # tuple로 인식

<class 'int'> 1
<class 'tuple'> (1,)

### 집합 (set)
값을 순서없이 저장, 중복 불허 하는 자료형 <br>
Set 객체 선언을 이용하여 객체 생성

In [11]:
s = set([1,2,3,1,2,3])
s

{1, 2, 3}

In [12]:
s.add(1)
s

{1, 2, 3}

In [13]:
s.remove(1)
s

{2, 3}

In [14]:
s.update([1,2,3,4,5])
s

{1, 2, 3, 4, 5}

In [15]:
s.clear()
s

set()

#### 집합의 연산
수학에서 활용하는 다양한 집합연산 가능

In [18]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

In [19]:
s1.union(s2) # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [20]:
s1|s2 # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [22]:
s1.intersection(s2) # 교집합

{3, 4, 5}

In [23]:
s1&s2 # 교집합

{3, 4, 5}

In [24]:
s1.difference(s2) # s1 - s2 차집합

{1, 2}

In [25]:
s1 - s2 # 차집합

{1, 2}

### 사전 (dictionary)
데이터를 저장 할 때는 구분 지을 수 있는 값을 함께 저장예) 주민등록 번호, 제품 모델 번호 (SM-N930 : 갤럭시 노트7(64GB)) <br>
구분을 위한 데이터 고유 값을 identifier 또는 Key 라고함 <br>
Key 값을 활용하여, 데이터 값(Value)을 관리함 <br>

Key와 value를 매칭하여 key로 value를 검색 <br>
다른 언어에서는 Hash Table 이라는 용어를 사용 <br>
{Key1:Value1, Key2:Value2, Key3:Value3…} 형태

In [40]:
# 같은 value('김땡땡)가 있으나 key(학번)가 다르므로 따로 호출 가능
student_info = {12150425:'김떙떙', 12170311:'박인하', 12160234:'최산공', 12120425:'김화석', 12170488:'김땡땡'}
student_info[12170488] # key를 이용해 value를 출력

'김땡땡'

In [41]:
# dict내 value 수정
student_info[12120425] = 'Hwa_seok' # value를 수정 가능
student_info

{12150425: '김떙떙',
 12170311: '박인하',
 12160234: '최산공',
 12120425: 'Hwa_seok',
 12170488: '김땡땡'}

In [34]:
# dict 삽입
country_code = {} # 빈 dict 생성
country_code = {'America':1, 'Korea':82, 'China':86, 'Japan':81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [35]:
# dict 출력
country_code.items() # dict 데이터 출력

dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81)])

In [36]:
# dict key 출력
country_code.keys() # dict의 key값만 출력

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [37]:
# dict value 출력
country_code.values() # dict의 value값만 출력

dict_values([1, 82, 86, 81])

In [39]:
# dict 삽입
country_code['Germany'] = 49 # dict 추가
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'Germany': 49}

In [42]:
# dict.items로 dict내 변수 활용
for k,v in country_code.items():
    print('Key: ', k)
    print('Value: ', v)

Key:  America
Value:  1
Key:  Korea
Value:  82
Key:  China
Value:  86
Key:  Japan
Value:  81
Key:  Germany
Value:  49

In [44]:
# 내부에 있는지 여부 확인
'Korea' in country_code.keys()

True

In [46]:
# 내부에 있는지 여부 확인
82 in  country_code.values()

True

실습 예제 1 <br>
dict 내부 값 출력

In [50]:
cafe = {'greentea':32, 'coffee':25,'chocolate':17,'icecream':59}
a = cafe.items()
b = cafe.keys()
c = cafe.values()
print(a)
print(b)
print(c)

dict_items([('greentea', 32), ('coffee', 25), ('chocolate', 17), ('icecream', 59)])
dict_keys(['greentea', 'coffee', 'chocolate', 'icecream'])
dict_values([32, 25, 17, 59])

## (중요)
실습 예제 2 <br>
자료 복사와 할당의 차이점('='으로는 복사할 수 없고 같은 값을 할당만 할 수 있다(같은 메모리를 사용하는 같은 값을 부르는 새로운 변수를 지정할 뿐이다.))

In [51]:
 # 같은 메모리의 같은 값이므로 copy로 부르는 dict value도 같다
Mydict = {'1':1, '2':2}
copy = Mydict
Mydict['1'] = 5 # copy, Mydict가 부르는 dict value가 변경됨
result = Mydict['1'] + copy['1']
print(result) # 10

10

## Pythonic Code
### Pythonic Code Overview
파이썬 스타일의 코딩 기법 <br>
파이썬 특유의 문법을 활용하여 효율적으로 코드를 표현함 <br>
고급 코드를 작성 할수록 더 많이 필요해짐 <br>

예시 : 여러 단어들을 하나로 붙일 때 <br>
red , blue , green , yellow라는 단어들을 redbluegreenyellow 라는 하나의 단어로 붙이고 싶음

In [64]:
# 단순 for문 이용
colors = ['red','blue','green','yellow']
result = ''
for s in colors:
    result += s
result

'redbluegreenyellow'

In [63]:
# pythonic code이용
colors = ['red','blue','green','yellow']
result = ''.join(colors)
result

'redbluegreenyellow'

### Split 함수
String Type의 값을 나눠서 List 형태로 변환

In [56]:
items ='Zero one two three'.split() # 빈칸을 기준으로 문자열 나누기
items

['Zero', 'one', 'two', 'three']

In [60]:
example = 'python,jquery,javascript' # ','을 기준으로 문자열 나누기
example.split(',')

['python', 'jquery', 'javascript']

In [61]:
a, b, c = example.split(',') # 리스트에 있는 각 값을 a,b,c 변수로 unpacking
print(a)
print(b)
print(c)

python
jquery
javascript

In [59]:
example = 'cs50.inha.edu'
subdomain, domain, tld = example.split('.') # '.'을 기준으로 문자열 나누기 및 unpacking
print(subdomain, domain, tld)

cs50 inha edu

### Join 함수
String List를 합쳐 하나의 String으로 반환할 때 사용

In [62]:
colors = ['red','blue','green','yellow']
result = ''.join(colors)
result

'redbluegreenyellow'

In [65]:
colors = ['red','blue','green','yellow']
result = ' '.join(colors) # 요소 사이에 빈칸 1칸으로 연결
result

'red blue green yellow'

In [66]:
colors = ['red','blue','green','yellow']
result = ', '.join(colors) # 요소 사이에 ', '으로 연결
result

'red, blue, green, yellow'

In [67]:
colors = ['red','blue','green','yellow']
result = '-'.join(colors) # 요소 사이에 '-'으로 연결
result

'red-blue-green-yellow'

### List Comprehensions
기존 List를 사용하여 간단히 다른 List를 만드는 기법 <br>
포괄적인 List, 포함되는 리스트라는 의미 <br>
파이썬에서 가장 많이 사용되는 기법 중 하나 <br>
일반적으로 for + append 보다 속도가 빠름 <br>

예시) 0부터 9까지의 숫자를 result라는 리스트로 만들고 싶음

In [68]:
# 기존 for 문을 이요한 코드
result = []
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
# List Comprehensions를 이용한 코드
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
# List Comprehensions를 이용한 코드, 조건 추가
result = [i for i in range(10) if i % 2 == 0]
result

[0, 2, 4, 6, 8]

예시) Hello와 World를 글자별로 합쳐서 result에 넣고 싶음

In [72]:
# 기존 for 문을 이요한 코드
word_1, word_2 = 'Hello', 'World'
result = []
for i in word_1:
    for j in word_2:
        result.append(i+j)
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [73]:
# List Comprehensions를 이용한 코드
word_1, word_2 = 'Hello', 'World'
result = [i+j for i in word_1 for j in word_2] # Nested for loop
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

예시) case_1의 요소와 case_2의 요소를 합쳐서 result에 넣어주는데, 만약 두 요소가 같으면 추가하지 않음

In [74]:
# 기존 for 문을 이요한 코드
case_1 = ['A','B','C']
case_2 = ['D','E','A']
result = []
for i in case_1:
    for j in case_2:
        if not(i == j):
            result.append(i+j)
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [75]:
# List Comprehensions를 이용한 코드
case_1 = ['A','B','C']
case_2 = ['D','E','A']
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

예시) 문장 단어들의 대문자, 소문자, 길이를 stuff에 list로 추가하고 싶음

In [79]:
# 기존 for 문을 이요한 코드
words = 'The quick brown fox jumps over the lazy dog'.split()
stuff = []
for w in words:
    stuff.append([w.upper(), w.lower(), len(w)])
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [81]:
# List Comprehensions를 이용한 코드
words = 'The quick brown fox jumps over the lazy dog'.split()
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

## (중요)
### Two dimensional vs One dimensional
예시) case_1의 인자로 구분하여 2차원의 list를 만들고 싶음

In [86]:
case_1 = ['A','B','C']
case_2 = ['D','E','A']
case_1, case_2

(['A', 'B', 'C'], ['D', 'E', 'A'])

In [87]:
# one dimensional
# i첫번째가 실시되고 j loop가 돈뒤, i두번쨰가 실시되고...
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [88]:
# two dimensional
# 대괄호 안에 있는 i를 우선해서 실시(i를 먼저 변경한다, i가 끝나면 j를 변경한다))
result = [[i+j for i in case_1] for j in case_2]
result

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

### Enumerate
List의 element를 추출할 때 번호를 붙여서 추출

In [89]:
# lsit에 있는 index와 값을 unpacking
for i, v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [90]:
mylist = ['a','b','c','d']
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [91]:
# 문장을 list로 만들고 list의 index와 element를 unpacking 하여 dict로 저장
{i:j for i,j in enumerate('Inha University is an academic institute'.split())}

{0: 'Inha', 1: 'University', 2: 'is', 3: 'an', 4: 'academic', 5: 'institute'}

### Zip
두개의 list의 값을 병렬적으로 추출함

In [93]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for a, b in zip(alist, blist): # 병렬적으로 값을 추출
    print(a,b)

a1 b1
a2 b2
a3 b3

In [96]:
# 각 tuple의 같은 index끼리 묶음
a,b,c = zip((1,2,3),(10,20,30),(100,200,300))
print(a,b,c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [97]:
# 각 tuple의 같은 index를 묶어 합을 list로 변환
[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]

[111, 222, 333]

### Enumerate & Zip
List의 element를 추출할 때 번호를 붙여서 추출

In [102]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for i, (a,b) in enumerate(zip(alist, blist)):
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3